{% extends  'WalvaCrudAdminBundle:Crud:index.html.twig' %}
{# entity \Walva\AdSiteBundle\Entity\SpaceExample #}
    
{% block crud_table_row_content %}
    <td><a href="{{ path(routeShow, { 'id': entity.id }) }}">{{ entity.id }}</a></td>
    <td><a href="{{ path("space_show", {'id':entity.space.id}) }}" class="btn btn-xs btn-default">{{ entity.space }}</a>  </td>
    <td>{{ entity.url }}</td>
{% endblock %}

{% block crud_table_header %}
    <th>Id</th>
    <th>Space</th>
    <th>Url</th>
    <th>Action</th>
{% endblock %}


{% block actions %}
<div class="btn-group">
    <a href="{{ path(routeShow, { 'id': entity.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span> Show</a>
    <a href="{{ path(routeEdit, { 'id': entity.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
</div>
{% endblock %}

