{% extends '::advertiser.html.twig' %}

{# entity \Walva\AdSiteBundle\Entity\Space #}

{% block css %}
    {{ parent() }}

{% endblock %}




{% block content %}
    {% set spaces = entities %}
    {% set spaces_content_light = false %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Liste des espaces disponibles sur le site</h1>
                <hr>
                <dl class="dl-horizontal">
                    {% for entity in spaces %}

                        <dt>{{ entity.name }}</dt>
                        <dd>{{ entity.format }}</dd>
                    {% endfor %}
                </dl>
                <div class="alert alert-info" role="alert"><strong>Formats et espaces publicitaires</strong> Pour
                    information, Il nous est possible de vous proposer d'avantage
                    de formats et d'espaces publicitaires sur notre site. Pour cela, n'hésitez pas à nous
                    <a href="{{ path('haf_contact', {'langue' : 'fr'}) }}">contacter</a>.
                </div>
            </div>
        </div>
        {{ include('@WalvaAdSite/Advertiser/spaces_content.html.twig') }}
    </div>

{% endblock content %}

